* {
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  color: rgb(200, 200, 200);

  box-sizing: border-box;
  border: none;
  outline: none;
  box-shadow: none;

  margin: 0px;
  padding: 0px;
  gap: 0px;
}



#purchase_history {
  height: 100%;
  width: 25%;

  background: rgb(100, 0, 0, 0.8);
  border: 1px solid rgb(200, 0, 0);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 8px;
  padding-bottom: 8px;
  gap: 8px;
}



#purchase_history_list {
  height: 660px;
  width: 360px;

  border: 1px solid rgb(200, 0, 0);

  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  padding-top: 4px;
  padding-bottom: 4px;
  gap: 4px;

  overflow-y: auto;
  overflow-x: hidden;
}



#purchase_history_list_receipt {
  font-size: 16px;
  
  width: 330px;

  border: 1px solid rgb(200, 0, 0);

  display: flex;
  flex-direction: column;

  padding: 8px;
}